/*! CSS Used from: https://www.maintenanceconnection.ca/wp-content/themes/astra/assets/css/minified/style.min.css?ver=1.8.7 ; media=all */
@media all{
a,body,div,h1,h2,h4,li,p,span,ul{border:0;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
body{margin:0;}
article,footer,header,main,nav,section{display:block;}
a{background-color:transparent;}
a:active{outline:0;}
a,a:focus,a:hover,a:visited{text-decoration:none;}
img{border:0;}
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
.ast-container{margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;}
.ast-container::after{content:"";display:table;clear:both;}
@media (min-width:544px){
.ast-container{max-width:100%;}
}
@media (min-width:768px){
.ast-container{max-width:100%;}
}
@media (min-width:992px){
.ast-container{max-width:100%;}
}
@media (min-width:1200px){
.ast-container{max-width:100%;}
}
h1,h2,h4{clear:both;}
.entry-content h1,h1{color:#808285;font-size:2em;line-height:1.2;}
.entry-content h2,h2{color:#808285;font-size:1.7em;line-height:1.3;}
.entry-content h4,h4{color:#808285;line-height:1.5;font-size:1.3em;}
*,:after,:before{box-sizing:inherit;}
body{color:#808285;background:#fff;font-style:normal;}
ul{margin:0 0 1.5em 3em;}
ul{list-style:disc;}
img{height:auto;max-width:100%;}
button{color:#808285;font-weight:400;font-size:100%;margin:0;vertical-align:baseline;}
button{line-height:normal;}
ul{margin:0 0 1.5em 3em;}
ul{list-style:disc;}
button{border:1px solid;border-color:#eaeaea;border-radius:2px;background:#e6e6e6;padding:.6em 1em .4em;color:#fff;}
button:focus,button:hover{color:#fff;border-color:#eaeaea;}
button:active,button:focus{border-color:#eaeaea;outline:0;}
a{color:#4169e1;}
a:focus,a:hover{color:#191970;}
a:focus{outline:thin dotted;}
a:hover{outline:0;}
.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden;}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:2px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:12.25px;font-size:.875rem;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}
#primary:after,#primary:before,.ast-container:after,.ast-container:before,.clear:after,.clear:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before,.site-main:after,.site-main:before{content:"";display:table;}
#primary:after,.ast-container:after,.clear:after,.site-content:after,.site-footer:after,.site-header:after,.site-main:after{clear:both;}
::-moz-selection{color:#fff;background:#0274be;}
::selection{color:#fff;background:#0274be;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
body:not(.logged-in){position:relative;}
#page{position:relative;}
a,a:focus{text-decoration:none;}
.site-footer a *,.site-header a *,a{transition:all .2s linear;}
img{vertical-align:middle;}
.entry-content h1,.entry-content h2,.entry-content h4{margin-bottom:20px;}
p{margin-bottom:1.75em;}
.site .skip-link{background-color:#f1f1f1;box-shadow:0 0 1px 1px rgba(0,0,0,.2);color:#21759b;display:block;font-family:Montserrat,"Helvetica Neue",sans-serif;font-size:14px;font-weight:700;left:-9999em;outline:0;padding:15px 23px 14px;text-decoration:none;text-transform:none;top:-9999em;}
.site .skip-link:focus{clip:auto;height:auto;left:6px;top:7px;width:auto;z-index:100000;}
body,button{line-height:1.85714285714286;}
body{background-color:#fff;}
#page{display:block;}
#primary{display:block;position:relative;float:left;width:100%;}
#primary{margin:4em 0;}
.ast-page-builder-template .site-content>.ast-container{max-width:100%;padding:0;}
.ast-page-builder-template .site-content #primary{padding:0;margin:0;}
.ast-page-builder-template .entry-header{margin-top:4em;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;}
.ast-page-builder-template .entry-header.ast-header-without-markup{margin-top:0;margin-bottom:0;}
@media (max-width:768px){
.ast-page-builder-template .entry-header{margin-top:1.5em;}
}
@media (max-width:768px){
#primary{padding:1.5em 0;margin:0;}
}
.main-navigation{-js-display:inline-flex;display:inline-flex;height:100%;}
.main-navigation ul{list-style:none;margin:0;padding-left:0;position:relative;}
.main-header-menu a{text-decoration:none;padding:0 1em;display:inline-block;transition:all .2s linear;}
.main-header-menu li{position:relative;}
.ast-mobile-menu-buttons{display:none;}
.ast-button-wrap{display:inline-block;}
.ast-button-wrap button{box-shadow:none;border:none;}
.ast-button-wrap .menu-toggle{padding:0;width:2.2em;height:2.1em;font-size:1.5em;font-weight:400;border-radius:2px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;border-radius:2px;vertical-align:middle;line-height:1.85714285714286;}
.ast-button-wrap .menu-toggle.main-header-menu-toggle{padding:0 .5em;width:auto;text-align:center;}
.ast-button-wrap .menu-toggle .menu-toggle-icon{font-style:normal;display:inline-block;vertical-align:middle;line-height:2.05;}
.ast-button-wrap .menu-toggle .menu-toggle-icon:before{content:"\e5d2";font-family:Astra;text-decoration:inherit;}
.main-header-bar-navigation{flex:1;}
.header-main-layout-1 .ast-main-header-bar-alignment{margin-left:auto;}
#site-navigation{height:100%;}
.main-header-bar{z-index:1;}
.header-main-layout-1 .main-header-bar-navigation{text-align:right;}
.header-main-layout-1 .main-navigation{padding-left:15px;vertical-align:top;}
.header-main-layout-1 .main-header-container{align-items:center;}
@media (max-width:544px){
.site-branding img,.site-header .site-logo-img .custom-logo-link img{max-width:100%;}
}
.site-header{z-index:99;position:relative;}
.main-header-container{position:relative;}
.main-header-bar-wrap{position:relative;}
.main-header-bar{background-color:#fff;border-bottom-color:#eaeaea;border-bottom-style:solid;}
.main-header-bar{margin-left:auto;margin-right:auto;}
.site-logo-img img{transition:all .2s linear;}
.site-branding{line-height:1;align-self:center;}
.main-header-bar{z-index:4;position:relative;line-height:4;}
.main-header-bar .main-header-bar-navigation{height:100%;}
.main-header-bar .main-header-bar-navigation:empty{padding:0;}
.ast-site-identity{padding:1em 0;}
.entry-content>:last-child{margin-bottom:0;}
body{overflow-x:hidden;}
.ast-footer-overlay{background-color:#3a3a3a;padding-top:2em;padding-bottom:2em;}
@media (min-width:769px){
.ast-footer-overlay{padding-top:2.66666em;padding-bottom:2.66666em;}
}
.ast-small-footer{line-height:1.85714285714286;position:relative;}
.footer-sml-layout-1{text-align:center;}
.site-footer{color:#fff;}
.site-footer a{color:#eaeaea;}
.site-footer a:focus,.site-footer a:hover{color:#fff;}
.page .entry-header{margin-bottom:1.5em;}
.ast-single-post .entry-header.ast-header-without-markup{margin-bottom:0;}
.entry-header{margin-bottom:1em;word-wrap:break-word;}
.entry-content{word-wrap:break-word;}
.entry-content p{margin-bottom:1.6em;}
.ast-flex{-js-display:flex;display:flex;flex-wrap:wrap;}
.ast-justify-content-flex-end{justify-content:flex-end;}
.ast-flex-grow-1{flex-grow:1;}
}
/*! CSS Used from: Embedded */
a{color:#fb2056;}
a:hover,a:focus{color:#fb2056;}
body,button{font-family:'Noto Sans',sans-serif;font-weight:400;font-size:16px;font-size:1rem;line-height:1.3;}
h1,.entry-content h1,h2,.entry-content h2,h4,.entry-content h4{font-family:'Montserrat',sans-serif;font-weight:700;}
header .site-logo-img .custom-logo-link img{max-width:200px;}
h1,.entry-content h1{font-size:64px;font-size:4rem;}
h2,.entry-content h2{font-size:32px;font-size:2rem;}
h4,.entry-content h4{font-size:20px;font-size:1.25rem;}
::selection{background-color:#fb2056;color:#ffffff;}
body,h1,.entry-content h1,h2,.entry-content h2,h4,.entry-content h4{color:#222222;}
.main-header-menu a{color:#222222;}
.main-header-menu li:hover > a,.main-header-menu .current-menu-item > a,.main-header-menu .current_page_item > a{color:#fb2056;}
.ast-small-footer{color:#d3d3d3;}
.ast-small-footer > .ast-footer-overlay{background-color:#191919;}
.ast-small-footer a{color:#ffffff;}
.ast-small-footer a:hover{color:#fc7f22;}
.menu-toggle,button{border-radius:60px;padding:8px 38px;color:#ffffff;border-color:#fb2056;background-color:#fb2056;}
button:focus,.menu-toggle:hover,button:hover{color:#ffffff;border-color:#fb2056;background-color:#fb2056;}
@media (max-width:768px){
h1,.entry-content h1{font-size:44px;}
h2,.entry-content h2{font-size:25px;}
}
@media (max-width:544px){
body,button{font-size:15px;font-size:0.9375rem;}
h1,.entry-content h1{font-size:30px;}
h2,.entry-content h2{font-size:24px;}
h4,.entry-content h4{font-size:19px;font-size:1.1875rem;}
}
@media (min-width:769px){
.ast-container{max-width:1240px;}
}
@media (max-width:921px){
.main-header-bar .main-header-bar-navigation{display:none;}
}
.ast-small-footer{border-top-style:solid;border-top-width:0;border-top-color:#7a7a7a;}
.ast-small-footer-wrap{text-align:center;}
@media (min-width:769px){
.main-header-bar{border-bottom-width:0;}
}
.main-header-menu .menu-item{-js-display:flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
.main-header-menu > .menu-item > a{height:100%;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-js-display:flex;display:flex;}
@media (min-width:769px){
.ast-theme-transparent-header #masthead{position:absolute;left:0;right:0;}
.ast-theme-transparent-header .main-header-bar{background:none;}
}
@media (min-width:769px){
.ast-theme-transparent-header .main-header-menu{background-color:rgba(255,255,255,0);}
.ast-theme-transparent-header .main-header-menu,.ast-theme-transparent-header .main-header-menu a{color:#ffffff;}
.ast-theme-transparent-header .main-header-menu li:hover > a,.ast-theme-transparent-header .main-header-menu .current-menu-item > a,.ast-theme-transparent-header .main-header-menu .current_page_item > a{color:#ffffff;}
}
@media (min-width:768px){
.ast-theme-transparent-header .main-header-bar{border-bottom-width:0;border-bottom-color:#ffffff;}
}
/*! CSS Used from: https://www.maintenanceconnection.ca/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.7.5 ; media=all */
@media all{
.elementor-screen-only,.screen-reader-text{position:absolute;top:-10000em;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.elementor-clearfix:after{content:"";display:block;clear:both;width:0;height:0;}
.elementor{-webkit-hyphens:manual;-ms-hyphens:manual;hyphens:manual;}
.elementor *,.elementor :after,.elementor :before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.elementor img{height:auto;max-width:100%;border:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none;}
.elementor .elementor-background-overlay{height:100%;width:100%;top:0;left:0;position:absolute;}
/*.elementor-invisible{visibility:hidden;}*/
.elementor-section{position:relative;}
.elementor-section .elementor-container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-right:auto;margin-left:auto;position:relative;}
.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px;}
.elementor-row{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
@media (max-width:1024px){
.elementor-row{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
}
.elementor-column-wrap{width:100%;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.elementor-widget-wrap{position:relative;width:100%;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.elementor-widget-wrap>.elementor-element{width:100%;}
.elementor-widget{position:relative;}
.elementor-widget:not(:last-child){margin-bottom:20px;}
.elementor-column{position:relative;min-height:1px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{padding:10px;}
@media (min-width:768px){
.elementor-column.elementor-col-16{width:16.666%;}
.elementor-column.elementor-col-33{width:33.333%;}
.elementor-column.elementor-col-50{width:50%;}
.elementor-column.elementor-col-66{width:66.666%;}
.elementor-column.elementor-col-100{width:100%;}
}
@media (max-width:767px){
.elementor-column{width:100%;}
}
@media (min-width:1025px){
#elementor-device-mode:after{content:"desktop";}
}
@media (min-width:768px) and (max-width:1024px){
#elementor-device-mode:after{content:"tablet";}
}
@media (max-width:767px){
#elementor-device-mode:after{content:"mobile";}
}
.elementor-element .elementor-widget-container{-webkit-transition:background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;transition:background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;-o-transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;transition:background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;}
.elementor-widget-divider{--divider-border-style:none;--divider-border-width:1px;--divider-border-color:$gray-darkest;--divider-icon-size:20px;--divider-element-spacing:10px;--divider-pattern-height:24px;--divider-pattern-size:20px;--divider-pattern-url:none;--divider-pattern-repeat:repeat-x;}
.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon):not(.elementor-widget-divider--separator-type-pattern) .elementor-divider-separator{display:inline-block;}
.elementor-widget-divider .elementor-divider{line-height:0;font-size:0;}
.elementor-widget-divider .elementor-divider-separator{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin:0;direction:ltr;}
.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-border-color);}
.elementor-widget-heading .elementor-heading-title{padding:0;margin:0;line-height:1;}
.elementor-widget-image{text-align:center;}
.elementor-widget-image .elementor-image img{vertical-align:middle;display:inline-block;}
}
/*! CSS Used from: https://www.maintenanceconnection.ca/wp-content/uploads/elementor/css/post-287.css?ver=1572431536 ; media=all */
@media all{
.elementor-287 .elementor-element.elementor-element-c50838b:not(.elementor-motion-effects-element-type-background){background-color:rgba(0,0,0,0);background-image:url("https://www.maintenanceconnection.ca/wp-content/uploads/2019/07/analogue-blur-close-up-159282.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}
.elementor-287 .elementor-element.elementor-element-c50838b > .elementor-background-overlay{background-color:#040219;opacity:0.61;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-287 .elementor-element.elementor-element-c50838b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:270px 0px 240px 0px;}
.elementor-287 .elementor-element.elementor-element-3428592{text-align:center;}
.elementor-287 .elementor-element.elementor-element-3428592.elementor-widget-heading .elementor-heading-title{color:#ffffff;}
.elementor-287 .elementor-element.elementor-element-3428592 .elementor-heading-title{font-family:"Vidaloka", Sans-serif;font-size:25px;font-weight:500;font-style:italic;letter-spacing:1.4px;}
.elementor-287 .elementor-element.elementor-element-92570e2{--divider-border-style:solid;--divider-border-color:#fb2056;--divider-border-width:2px;}
.elementor-287 .elementor-element.elementor-element-92570e2 .elementor-divider-separator{width:8%;margin:0 auto;margin-center:0;}
.elementor-287 .elementor-element.elementor-element-92570e2 .elementor-divider{text-align:center;padding-top:0px;padding-bottom:0px;}
.elementor-287 .elementor-element.elementor-element-92570e2 > .elementor-widget-container{margin:-6px 0px 0px 0px;}
.elementor-287 .elementor-element.elementor-element-453e782{text-align:center;}
.elementor-287 .elementor-element.elementor-element-453e782.elementor-widget-heading .elementor-heading-title{color:#ffffff;}
.elementor-287 .elementor-element.elementor-element-453e782 .elementor-heading-title{font-size:45px;font-weight:800;text-transform:uppercase;letter-spacing:2px;}
.elementor-287 .elementor-element.elementor-element-453e782 > .elementor-widget-container{padding:13px 0px 20px 0px;}
.elementor-287 .elementor-element.elementor-element-5c31627:not(.elementor-motion-effects-element-type-background){background-color:#f4f5f9;background-image:url("https://www.maintenanceconnection.ca/wp-content/uploads/2019/07/quote-1.png");background-position:132px 172px;background-repeat:no-repeat;}
.elementor-287 .elementor-element.elementor-element-5c31627{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 0px 50px 0px;}
.elementor-287 .elementor-element.elementor-element-32f335d.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}
.elementor-287 .elementor-element.elementor-element-1e9e9ee .elementor-image img{width:100%;max-width:100%;}
.elementor-287 .elementor-element.elementor-element-a107e3a > .elementor-element-populated >  .elementor-background-overlay{background-image:url("https://www.maintenanceconnection.ca/wp-content/uploads/2019/07/quote-1.png");background-repeat:no-repeat;opacity:0.07;}
.elementor-287 .elementor-element.elementor-element-a107e3a > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}
.elementor-287 .elementor-element.elementor-element-a107e3a > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-287 .elementor-element.elementor-element-26eb166 .elementor-text-editor{text-align:center;}
.elementor-287 .elementor-element.elementor-element-26eb166{color:#4c5863;font-family:"Play", Sans-serif;font-size:21px;font-style:italic;line-height:1.7em;}
.elementor-287 .elementor-element.elementor-element-01ffef0{padding:100px 0px 100px 0px;}
.elementor-287 .elementor-element.elementor-element-e5e7443{text-align:center;}
.elementor-287 .elementor-element.elementor-element-e5e7443 .elementor-heading-title{font-size:30px;font-weight:700;text-transform:uppercase;letter-spacing:1px;}
.elementor-287 .elementor-element.elementor-element-8e359a1 .elementor-text-editor{text-align:center;}
.elementor-287 .elementor-element.elementor-element-5415cda{padding:60px 0px 0px 0px;}
.elementor-287 .elementor-element.elementor-element-5c1e234{color:#000000;line-height:3em;}
.elementor-287 .elementor-element.elementor-element-dac81a1{color:#000000;line-height:3em;}
.elementor-287 .elementor-element.elementor-element-aed5a07:not(.elementor-motion-effects-element-type-background){background-color:#f4f5f9;background-image:url("https://www.maintenanceconnection.ca/wp-content/uploads/2019/07/quote-1.png");background-position:132px 172px;background-repeat:no-repeat;}
.elementor-287 .elementor-element.elementor-element-aed5a07{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 0px 50px 0px;}
.elementor-287 .elementor-element.elementor-element-b1d244c > .elementor-element-populated >  .elementor-background-overlay{background-image:url("https://www.maintenanceconnection.ca/wp-content/uploads/2019/07/quote-1.png");background-repeat:no-repeat;opacity:0.07;}
.elementor-287 .elementor-element.elementor-element-b1d244c > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}
.elementor-287 .elementor-element.elementor-element-b1d244c > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-287 .elementor-element.elementor-element-c0ad1e8 .elementor-text-editor{text-align:center;}
.elementor-287 .elementor-element.elementor-element-c0ad1e8{color:#4c5863;font-family:"Play", Sans-serif;font-size:21px;font-style:italic;line-height:1.7em;}
@media (max-width:1024px){
.elementor-287 .elementor-element.elementor-element-c50838b{padding:120px 0px 100px 0px;}
.elementor-287 .elementor-element.elementor-element-3428592 .elementor-heading-title{font-size:28px;}
.elementor-287 .elementor-element.elementor-element-3428592 > .elementor-widget-container{padding:080px 0px 0px 0px;}
.elementor-287 .elementor-element.elementor-element-92570e2 .elementor-divider-separator{width:12%;}
.elementor-287 .elementor-element.elementor-element-5c31627:not(.elementor-motion-effects-element-type-background){background-position:308px 246px;}
.elementor-287 .elementor-element.elementor-element-5c31627{padding:50px 0px 50px 0px;}
.elementor-287 .elementor-element.elementor-element-1e9e9ee .elementor-image img{width:1%;max-width:1%;}
.elementor-287 .elementor-element.elementor-element-01ffef0{padding:75px 0px 10px 0px;}
.elementor-287 .elementor-element.elementor-element-0aa0836 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-287 .elementor-element.elementor-element-5415cda{padding:0px 0px 60px 0px;}
.elementor-287 .elementor-element.elementor-element-aed5a07:not(.elementor-motion-effects-element-type-background){background-position:308px 246px;}
.elementor-287 .elementor-element.elementor-element-aed5a07{padding:50px 0px 50px 0px;}
}
@media (max-width:767px){
.elementor-287 .elementor-element.elementor-element-c50838b{padding:120px 0px 60px 0px;}
.elementor-287 .elementor-element.elementor-element-3428592 .elementor-heading-title{font-size:20px;}
.elementor-287 .elementor-element.elementor-element-453e782 .elementor-heading-title{font-size:30px;}
.elementor-287 .elementor-element.elementor-element-453e782 > .elementor-widget-container{margin:-10px 0px 0px 0px;}
.elementor-287 .elementor-element.elementor-element-5c31627:not(.elementor-motion-effects-element-type-background){background-image:url("https://www.maintenanceconnection.ca/wp-content/uploads/2019/07/quote-1.png");background-position:114px 334px;}
.elementor-287 .elementor-element.elementor-element-5c31627{padding:35px 0px 35px 0px;}
.elementor-287 .elementor-element.elementor-element-26eb166{line-height:1.4em;}
.elementor-287 .elementor-element.elementor-element-01ffef0{padding:55px 0px 0px 0px;}
.elementor-287 .elementor-element.elementor-element-e5e7443{text-align:center;}
.elementor-287 .elementor-element.elementor-element-2c614c4 > .elementor-element-populated{padding:40px 0px 45px 0px;}
.elementor-287 .elementor-element.elementor-element-1aaf044 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-287 .elementor-element.elementor-element-aed5a07:not(.elementor-motion-effects-element-type-background){background-image:url("https://www.maintenanceconnection.ca/wp-content/uploads/2019/07/quote-1.png");background-position:114px 334px;}
.elementor-287 .elementor-element.elementor-element-aed5a07{padding:35px 0px 35px 0px;}
.elementor-287 .elementor-element.elementor-element-c0ad1e8{line-height:1.4em;}
}
@media (min-width:768px){
.elementor-287 .elementor-element.elementor-element-2f84d6d{width:10%;}
.elementor-287 .elementor-element.elementor-element-55b0429{width:79.332%;}
.elementor-287 .elementor-element.elementor-element-79b148e{width:10%;}
.elementor-287 .elementor-element.elementor-element-32f335d{width:22.719%;}
.elementor-287 .elementor-element.elementor-element-a107e3a{width:60.611%;}
.elementor-287 .elementor-element.elementor-element-0304c3f{width:10%;}
.elementor-287 .elementor-element.elementor-element-56e7952{width:79.333%;}
.elementor-287 .elementor-element.elementor-element-775de24{width:10%;}
.elementor-287 .elementor-element.elementor-element-e1798f8{width:2.544%;}
.elementor-287 .elementor-element.elementor-element-b1d244c{width:93.246%;}
.elementor-287 .elementor-element.elementor-element-c28b0b6{width:4.205%;}
}
@media (max-width:1024px) and (min-width:768px){
.elementor-287 .elementor-element.elementor-element-32f335d{width:100%;}
.elementor-287 .elementor-element.elementor-element-a107e3a{width:100%;}
.elementor-287 .elementor-element.elementor-element-2c614c4{width:50%;}
.elementor-287 .elementor-element.elementor-element-1aaf044{width:50%;}
.elementor-287 .elementor-element.elementor-element-e1798f8{width:100%;}
.elementor-287 .elementor-element.elementor-element-b1d244c{width:100%;}
}
@media (min-width:1025px){
.elementor-287 .elementor-element.elementor-element-c50838b:not(.elementor-motion-effects-element-type-background){background-attachment:fixed;}
}
}
/*! CSS Used from: Embedded */
#rum_sst_tab{font-family:Arial, sans-serif;top:450px;background-color:#ed8c1d;color:#FFFFFF;border-style:solid;border-width:0px;}
#rum_sst_tab:hover{background-color:#edac21;}
.rum_sst_contents{position:fixed;margin:0;padding:6px 13px 8px 13px;text-decoration:none;text-align:center;font-size:15px;font-weight:normal;border-style:solid;display:block;z-index:100000;}
.rum_sst_right{right:-1px;cursor:pointer;-webkit-transform-origin:100% 100%;-moz-transform-origin:100% 100%;-o-transform-origin:100% 100%;-ms-transform-origin:100% 100%;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);-moz-border-radius-topright:10px;border-top-right-radius:10px;-moz-border-radius-topleft:10px;border-top-left-radius:10px;}
/*! CSS Used fontfaces */
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:"Astra";src:url(https://www.maintenanceconnection.ca/%20/wp-content/themes/astra/assets/fonts/astra.woff) format("woff"),url(https://www.maintenanceconnection.ca/%20/wp-content/themes/astra/assets/fonts/astra.ttf) format("truetype"),url(https://www.maintenanceconnection.ca/%20/wp-content/themes/astra/assets/fonts/astra.svg#astra) format("svg");font-weight:normal;font-style:normal;font-display:fallback;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6DRAW_0.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr4TRAW_0.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5DRAW_0.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6TRAW_0.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5jRAW_0.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6jRAW_0.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6zRAW_0.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVadyB1Wk.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVYNyB1Wk.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZdyB1Wk.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVaNyB1Wk.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZ9yB1Wk.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVa9yB1Wk.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVatyB1Wk.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Vidaloka';font-style:normal;font-weight:400;src:local('Vidaloka '), local('Vidaloka-Regular'), url(https://fonts.gstatic.com/s/vidaloka/v12/7cHrv4c3ipenMKlEavs7wH8.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Play';font-style:normal;font-weight:400;src:local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtg2H68T.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Play';font-style:normal;font-weight:400;src:local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtE2H68T.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Play';font-style:normal;font-weight:400;src:local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtY2H68T.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Play';font-style:normal;font-weight:400;src:local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvto2H68T.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Play';font-style:normal;font-weight:400;src:local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvts2H68T.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Play';font-style:normal;font-weight:400;src:local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtU2Hw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Play';font-style:normal;font-weight:700;src:local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v11/6ae84K2oVqwItm4TCp0y2knT.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Play';font-style:normal;font-weight:700;src:local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v11/6ae84K2oVqwItm4TCpQy2knT.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Play';font-style:normal;font-weight:700;src:local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v11/6ae84K2oVqwItm4TCpMy2knT.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Play';font-style:normal;font-weight:700;src:local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v11/6ae84K2oVqwItm4TCp8y2knT.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Play';font-style:normal;font-weight:700;src:local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v11/6ae84K2oVqwItm4TCp4y2knT.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Play';font-style:normal;font-weight:700;src:local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v11/6ae84K2oVqwItm4TCpAy2g.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
