/*! CSS Used from: https://www.maintenanceconnection.ca/wp-content/cache/autoptimize/css/autoptimize_a42e92997271f0c6006c4527b0218f44.css ; media=all */
@media all{
a,body,div,em,h2,li,ol,p,span,strong,ul{border:0;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
body{margin:0;}
article,footer,header,main,nav,section{display:block;}
a{background-color:transparent;}
a:active{outline:0;}
a,a:focus,a:hover,a:visited{text-decoration:none;}
strong{font-weight:700;}
img{border:0;}
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
.ast-container{margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;}
.ast-container::after{content:"";display:table;clear:both;}
@media (min-width:544px){
.ast-container{max-width:100%;}
}
@media (min-width:768px){
.ast-container{max-width:100%;}
}
@media (min-width:992px){
.ast-container{max-width:100%;}
}
@media (min-width:1200px){
.ast-container{max-width:100%;}
}
h2{clear:both;}
.entry-content h2,h2{color:#808285;font-size:1.7em;line-height:1.3;}
*,:after,:before{box-sizing:inherit;}
body{color:#808285;background:#fff;font-style:normal;}
ol,ul{margin:0 0 1.5em 3em;}
ul{list-style:disc;}
ol{list-style:decimal;}
strong{font-weight:700;}
em{font-style:italic;}
img{height:auto;max-width:100%;}
button{color:#808285;font-weight:400;font-size:100%;margin:0;vertical-align:baseline;}
button{line-height:normal;}
ol,ul{margin:0 0 1.5em 3em;}
ul{list-style:disc;}
ol{list-style:decimal;}
button{border:1px solid;border-color:#eaeaea;border-radius:2px;background:#e6e6e6;padding:.6em 1em .4em;color:#fff;}
button:focus,button:hover{color:#fff;border-color:#eaeaea;}
button:active,button:focus{border-color:#eaeaea;outline:0;}
a{color:#4169e1;}
a:focus,a:hover{color:#191970;}
a:focus{outline:thin dotted;}
a:hover{outline:0;}
.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden;}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:2px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:12.25px;font-size:.875rem;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}
#primary:after,#primary:before,.ast-container:after,.ast-container:before,.clear:after,.clear:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before,.site-main:after,.site-main:before{content:"";display:table;}
#primary:after,.ast-container:after,.clear:after,.site-content:after,.site-footer:after,.site-header:after,.site-main:after{clear:both;}
::-moz-selection{color:#fff;background:#0274be;}
::selection{color:#fff;background:#0274be;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
body:not(.logged-in){position:relative;}
#page{position:relative;}
a,a:focus{text-decoration:none;}
.site-footer a *,.site-header a *,a{transition:all .2s linear;}
img{vertical-align:middle;}
.entry-content h2{margin-bottom:20px;}
p{margin-bottom:1.75em;}
.site .skip-link{background-color:#f1f1f1;box-shadow:0 0 1px 1px rgba(0,0,0,.2);color:#21759b;display:block;font-family:Montserrat,"Helvetica Neue",sans-serif;font-size:14px;font-weight:700;left:-9999em;outline:0;padding:15px 23px 14px;text-decoration:none;text-transform:none;top:-9999em;}
.site .skip-link:focus{clip:auto;height:auto;left:6px;top:7px;width:auto;z-index:100000;}
body,button{line-height:1.85714285714286;}
body{background-color:#fff;}
#page{display:block;}
#primary{display:block;position:relative;float:left;width:100%;}
#primary{margin:4em 0;}
.ast-page-builder-template .site-content>.ast-container{max-width:100%;padding:0;}
.ast-page-builder-template .site-content #primary{padding:0;margin:0;}
.ast-page-builder-template .entry-header{margin-top:4em;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;}
.ast-page-builder-template .entry-header.ast-header-without-markup{margin-top:0;margin-bottom:0;}
@media (max-width:768px){
.ast-page-builder-template .entry-header{margin-top:1.5em;}
}
@media (max-width:768px){
#primary{padding:1.5em 0;margin:0;}
}
.main-navigation{-js-display:inline-flex;display:inline-flex;height:100%;}
.main-navigation ul{list-style:none;margin:0;padding-left:0;position:relative;}
.main-header-menu a{text-decoration:none;padding:0 1em;display:inline-block;transition:all .2s linear;}
.main-header-menu li{position:relative;}
.ast-mobile-menu-buttons{display:none;}
.ast-button-wrap{display:inline-block;}
.ast-button-wrap button{box-shadow:none;border:none;}
.ast-button-wrap .menu-toggle{padding:0;width:2.2em;height:2.1em;font-size:1.5em;font-weight:400;border-radius:2px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;border-radius:2px;vertical-align:middle;line-height:1.85714285714286;}
.ast-button-wrap .menu-toggle.main-header-menu-toggle{padding:0 .5em;width:auto;text-align:center;}
.ast-button-wrap .menu-toggle .menu-toggle-icon{font-style:normal;display:inline-block;vertical-align:middle;line-height:2.05;}
.ast-button-wrap .menu-toggle .menu-toggle-icon:before{content:"\e5d2";font-family:Astra;text-decoration:inherit;}
.main-header-bar-navigation{flex:1;}
.header-main-layout-1 .ast-main-header-bar-alignment{margin-left:auto;}
#site-navigation{height:100%;}
.main-header-bar{z-index:1;}
.header-main-layout-1 .main-header-bar-navigation{text-align:right;}
.header-main-layout-1 .main-navigation{padding-left:15px;vertical-align:top;}
.header-main-layout-1 .main-header-container{align-items:center;}
@media (max-width:544px){
.site-branding img,.site-header .site-logo-img .custom-logo-link img{max-width:100%;}
}
.site-header{z-index:99;position:relative;}
.main-header-container{position:relative;}
.main-header-bar-wrap{position:relative;}
.main-header-bar{background-color:#fff;border-bottom-color:#eaeaea;border-bottom-style:solid;}
.main-header-bar{margin-left:auto;margin-right:auto;}
.site-logo-img img{transition:all .2s linear;}
.site-branding{line-height:1;align-self:center;}
.main-header-bar{z-index:4;position:relative;line-height:4;}
.main-header-bar .main-header-bar-navigation{height:100%;}
.main-header-bar .main-header-bar-navigation:empty{padding:0;}
.ast-site-identity{padding:1em 0;}
.entry-content>:last-child{margin-bottom:0;}
body{overflow-x:hidden;}
.ast-footer-overlay{background-color:#3a3a3a;padding-top:2em;padding-bottom:2em;}
@media (min-width:769px){
.ast-footer-overlay{padding-top:2.66666em;padding-bottom:2.66666em;}
}
.ast-small-footer{line-height:1.85714285714286;position:relative;}
.footer-sml-layout-1{text-align:center;}
.site-footer{color:#fff;}
.site-footer a{color:#eaeaea;}
.site-footer a:focus,.site-footer a:hover{color:#fff;}
.page .entry-header{margin-bottom:1.5em;}
.ast-single-post .entry-header.ast-header-without-markup{margin-bottom:0;}
.entry-header{margin-bottom:1em;word-wrap:break-word;}
.entry-content{word-wrap:break-word;}
.entry-content p{margin-bottom:1.6em;}
.ast-flex{-js-display:flex;display:flex;flex-wrap:wrap;}
.ast-justify-content-flex-end{justify-content:flex-end;}
.ast-flex-grow-1{flex-grow:1;}
a{color:#fb2056;}
a:hover,a:focus{color:#fb2056;}
body,button{font-family:'Noto Sans',sans-serif;font-weight:400;font-size:16px;font-size:1rem;line-height:1.3;}
h2,.entry-content h2{font-family:'Montserrat',sans-serif;font-weight:700;}
header .site-logo-img .custom-logo-link img{max-width:200px;}
h2,.entry-content h2{font-size:32px;font-size:2rem;}
::selection{background-color:#fb2056;color:#fff;}
body,h2,.entry-content h2{color:#222;}
.main-header-menu a{color:#222;}
.main-header-menu li:hover>a{color:#fb2056;}
.ast-small-footer{color:#d3d3d3;}
.ast-small-footer>.ast-footer-overlay{background-color:#191919;}
.ast-small-footer a{color:#fff;}
.ast-small-footer a:hover{color:#fc7f22;}
.menu-toggle,button{border-radius:60px;padding:8px 38px;color:#fff;border-color:#fb2056;background-color:#fb2056;}
button:focus,.menu-toggle:hover,button:hover{color:#fff;border-color:#fb2056;background-color:#fb2056;}
@media (max-width:768px){
h2,.entry-content h2{font-size:25px;}
}
@media (max-width:544px){
body,button{font-size:15px;font-size:.9375rem;}
h2,.entry-content h2{font-size:24px;}
}
@media (min-width:769px){
.ast-container{max-width:1240px;}
}
@media (max-width:921px){
.main-header-bar .main-header-bar-navigation{display:none;}
}
.ast-small-footer{border-top-style:solid;border-top-width:0;border-top-color:#7a7a7a;}
.ast-small-footer-wrap{text-align:center;}
@media (min-width:769px){
.main-header-bar{border-bottom-width:0;}
}
.main-header-menu .menu-item{-js-display:flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
.main-header-menu>.menu-item>a{height:100%;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-js-display:flex;display:flex;}
@media (min-width:769px){
.ast-theme-transparent-header #masthead{position:absolute;left:0;right:0;}
.ast-theme-transparent-header .main-header-bar{background:0 0;}
}
@media (min-width:769px){
.ast-theme-transparent-header .main-header-menu{background-color:rgba(255,255,255,0);}
.ast-theme-transparent-header .main-header-menu,.ast-theme-transparent-header .main-header-menu a{color:#fff;}
.ast-theme-transparent-header .main-header-menu li:hover>a{color:#fff;}
}
@media (min-width:768px){
.ast-theme-transparent-header .main-header-bar{border-bottom-width:0;border-bottom-color:#fff;}
}
.fadeInUp{animation-name:fadeInUp;}
.elementor-screen-only,.screen-reader-text{position:absolute;top:-10000em;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.elementor-clearfix:after{content:"";display:block;clear:both;width:0;height:0;}
.elementor{-webkit-hyphens:manual;-ms-hyphens:manual;hyphens:manual;}
.elementor *,.elementor :after,.elementor :before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.elementor a{-webkit-box-shadow:none;box-shadow:none;text-decoration:none;}
.elementor img{height:auto;max-width:100%;border:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none;}
.elementor .elementor-background-overlay{height:100%;width:100%;top:0;left:0;position:absolute;}
.elementor-section{position:relative;}
.elementor-section .elementor-container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-right:auto;margin-left:auto;position:relative;}
.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px;}
.elementor-section.elementor-section-items-middle>.elementor-container{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.elementor-row{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
@media (max-width:1024px){
.elementor-row{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
}
.elementor-column-wrap{width:100%;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.elementor-widget-wrap{position:relative;width:100%;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.elementor-widget-wrap>.elementor-element{width:100%;}
.elementor-widget{position:relative;}
.elementor-widget:not(:last-child){margin-bottom:20px;}
.elementor-column{position:relative;min-height:1px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{padding:10px;}
@media (min-width:768px){
.elementor-column.elementor-col-33{width:33.333%;}
.elementor-column.elementor-col-50{width:50%;}
.elementor-column.elementor-col-100{width:100%;}
}
@media (max-width:767px){
.elementor-column{width:100%;}
}
@media (min-width:1025px){
#elementor-device-mode:after{content:"desktop";}
}
@media (min-width:768px) and (max-width:1024px){
#elementor-device-mode:after{content:"tablet";}
}
@media (max-width:767px){
#elementor-device-mode:after{content:"mobile";}
}
.elementor-element .elementor-widget-container{-webkit-transition:background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;transition:background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;-o-transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;transition:background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;}
.elementor-widget-heading .elementor-heading-title{padding:0;margin:0;line-height:1;}
.elementor-widget-image{text-align:center;}
.elementor-widget-image .elementor-image img{vertical-align:middle;display:inline-block;}
body.elementor-page .elementor-widget-menu-anchor{margin-bottom:0;}
.animated{-webkit-animation-duration:1.25s;animation-duration:1.25s;}
@media (prefers-reduced-motion:reduce){
.animated{-webkit-animation:none;animation:none;}
}
#rum_sst_tab{font-family:Arial,sans-serif;top:450px;background-color:#ed8c1d;color:#fff;border-style:solid;border-width:0;}
#rum_sst_tab:hover{background-color:#edac21;}
.rum_sst_contents{position:fixed;margin:0;padding:6px 13px 8px;text-decoration:none;text-align:center;font-size:15px;font-weight:400;border-style:solid;display:block;z-index:100000;}
.rum_sst_right{right:-1px;cursor:pointer;-webkit-transform-origin:100% 100%;-moz-transform-origin:100% 100%;-o-transform-origin:100% 100%;-ms-transform-origin:100% 100%;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);-moz-border-radius-topright:10px;border-top-right-radius:10px;-moz-border-radius-topleft:10px;border-top-left-radius:10px;}
}
/*! CSS Used from: https://www.maintenanceconnection.ca/wp-content/cache/autoptimize/css/autoptimize_single_532fd8968720cff6b5e385dd5c91a971.css?ver=1574248738 ; media=all */
@media all{
.elementor-405 .elementor-element.elementor-element-70ca7ac>.elementor-container{min-height:400px;}
.elementor-405 .elementor-element.elementor-element-70ca7ac>.elementor-container:after{content:"";min-height:inherit;}
.elementor-405 .elementor-element.elementor-element-70ca7ac:not(.elementor-motion-effects-element-type-background){background-image:url("https://www.maintenanceconnection.ca/wp-content/uploads/2019/07/close-up-eyeglasses-eyewear-261869.jpg");background-position:center center;background-size:cover;}
.elementor-405 .elementor-element.elementor-element-70ca7ac>.elementor-background-overlay{background-color:#000;opacity:.3;transition:background .3s,border-radius .3s,opacity .3s;}
.elementor-405 .elementor-element.elementor-element-70ca7ac{transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-405 .elementor-element.elementor-element-ca59ff9{text-align:center;}
.elementor-405 .elementor-element.elementor-element-ca59ff9.elementor-widget-heading .elementor-heading-title{color:#fff;}
.elementor-405 .elementor-element.elementor-element-ca59ff9 .elementor-heading-title{font-size:50px;text-shadow:-4px 2px 10px #000;}
.elementor-405 .elementor-element.elementor-element-ca59ff9>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-36697a5 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-d8aecef .elementor-heading-title{font-size:17px;}
.elementor-405 .elementor-element.elementor-element-02a4bc6{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-d517d42{text-align:center;}
.elementor-405 .elementor-element.elementor-element-d517d42 .elementor-heading-title{font-size:17px;}
.elementor-405 .elementor-element.elementor-element-3fac452 .elementor-heading-title{font-size:13px;}
.elementor-405 .elementor-element.elementor-element-7826c97{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-f3903f9 .elementor-heading-title{font-size:13px;}
.elementor-405 .elementor-element.elementor-element-ae9abd3{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-5667dff .elementor-heading-title{font-size:13px;}
.elementor-405 .elementor-element.elementor-element-eb11012{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-dc2c7a8 .elementor-heading-title{font-size:13px;}
.elementor-405 .elementor-element.elementor-element-02e6ed4{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-825adb3 .elementor-heading-title{font-size:15px;}
.elementor-405 .elementor-element.elementor-element-27e57e0{font-size:14px;line-height:.1em;}
.elementor-405 .elementor-element.elementor-element-111e34f .elementor-heading-title{font-size:30px;}
.elementor-405 .elementor-element.elementor-element-a93a767{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-d851947 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-c178825{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-937ca10 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-ee4f445{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-ee4f445>.elementor-widget-container{padding:40px 0 0;}
.elementor-405 .elementor-element.elementor-element-5ecaec7 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-dbae9e9{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-dbae9e9>.elementor-widget-container{padding:60px 0 0;}
.elementor-405 .elementor-element.elementor-element-29dab6f .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-5985cba{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-5985cba>.elementor-widget-container{padding:30px 0 0;}
.elementor-405 .elementor-element.elementor-element-0bdc931 .elementor-heading-title{font-size:30px;}
.elementor-405 .elementor-element.elementor-element-0927603{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-c8866ee .elementor-spacer-inner{height:44px;}
.elementor-405 .elementor-element.elementor-element-434ae8a{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-6e56f78 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-798a55a>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-d30d0e6{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-b0da0e5{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-6e95a5c .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-da63311>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-c336dee{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-e7412ae .elementor-heading-title{font-size:30px;}
.elementor-405 .elementor-element.elementor-element-31d0b44{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-712fb39 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-60ac628{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-60ac628>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-762b33b .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-0e09174{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-0e09174>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-d847d6d .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-fcb70f4{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-fcb70f4>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-dc0c657 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-739657f{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-739657f>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-617e518 .elementor-heading-title{font-size:30px;}
.elementor-405 .elementor-element.elementor-element-5072a43{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-5de02cb .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-d6dd9e2{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-d6dd9e2>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-b75b019 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-e7f9592{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-e7f9592>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-f2377d6 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-92cc21a .elementor-spacer-inner{height:1px;}
.elementor-405 .elementor-element.elementor-element-11fc438{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-11fc438>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-1ed84cd .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-27c91f7{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-27c91f7>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-49658c2 .elementor-heading-title{font-size:30px;}
.elementor-405 .elementor-element.elementor-element-9577a13{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-8349dd1 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-dcfd5fa{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-dcfd5fa>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-501c78c .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-6791e74{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-6791e74>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-bfb104a .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-6dd269f .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-6dd269f{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-6dd269f>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-55dfa34 .elementor-heading-title{font-size:30px;}
.elementor-405 .elementor-element.elementor-element-30b58a4{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-f2d3e14 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-b3b1f62{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-b3b1f62>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-2f524b8 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-c670d95{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-c670d95>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-9d422b6 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-f450c72 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-f450c72{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-f450c72>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-985f821 .elementor-heading-title{font-size:30px;}
.elementor-405 .elementor-element.elementor-element-63c600d{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-4013081 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-e4582a4{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-e4582a4>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-26fd900 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-b5faac0{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-b5faac0>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-182ed26 .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-735a1ad .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-735a1ad{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-735a1ad>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-8a3e7ac .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-ddf9e5c .elementor-text-editor{text-align:center;}
.elementor-405 .elementor-element.elementor-element-ddf9e5c{font-size:14px;}
.elementor-405 .elementor-element.elementor-element-ddf9e5c>.elementor-widget-container{padding:0;}
.elementor-405 .elementor-element.elementor-element-226af92{font-size:14px;}
@media (min-width:768px){
.elementor-405 .elementor-element.elementor-element-656c638{width:50%;}
.elementor-405 .elementor-element.elementor-element-66da84a{width:50%;}
.elementor-405 .elementor-element.elementor-element-46dff4f{width:13.393%;}
.elementor-405 .elementor-element.elementor-element-83f97e4{width:69.761%;}
.elementor-405 .elementor-element.elementor-element-0357592{width:16.845%;}
.elementor-405 .elementor-element.elementor-element-54bb099{width:16.071%;}
.elementor-405 .elementor-element.elementor-element-f971ca7{width:65.089%;}
.elementor-405 .elementor-element.elementor-element-cf20e03{width:18.839%;}
}
@media (min-width:1025px){
.elementor-405 .elementor-element.elementor-element-70ca7ac:not(.elementor-motion-effects-element-type-background){background-attachment:fixed;}
}
}
/*! CSS Used keyframes */
@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0);}to{opacity:1;transform:none;}}
/*! CSS Used fontfaces */
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:fallback;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:"Astra";src:url(https://www.maintenanceconnection.ca/wp-content/themes/astra/assets/fonts/astra.woff) format("woff"),url(https://www.maintenanceconnection.ca/wp-content/themes/astra/assets/fonts/astra.ttf) format("truetype"),url(https://www.maintenanceconnection.ca/wp-content/themes/astra/assets/fonts/astra.svg#astra) format("svg");font-weight:400;font-style:normal;font-display:fallback;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6DRAW_0.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr4TRAW_0.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5DRAW_0.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6TRAW_0.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5jRAW_0.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6jRAW_0.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6zRAW_0.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;font-display:fallback;src:local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVadyB1Wk.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVYNyB1Wk.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZdyB1Wk.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVaNyB1Wk.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZ9yB1Wk.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVa9yB1Wk.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVatyB1Wk.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:fallback;src:local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
